# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/

# Ignore environment files
# .env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore CSV data (optional, if sensitive)
# leaderboard.csv

# Ignore logs
*.log


venv/
__pycache__/
flask_session/
error.log
.vercel
